* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  min-height: 100vh;
  background-color: #e04343;
  padding: 20px;
  color: white;
}

.home-container img {
  margin-top: 20px;
  height: 200px;
  width: 330px;
}
