<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href='{% static "css/home.css" %}' />
  </head>
  <body>
    <div class="home-container">
      <h2>Hello from Learner!</h2>
      <h2>{{which}} page</h2>
      {% if which == 'React' %}
      <img src='{% static "images/download.jpeg" %}' alt="image" />
      {% endif %}
    </div>
    <script src="" async defer></script>
  </body>
</html>
